.jersey-10-regular {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.photo {
    width: 35vw;
    height: 100vh;
    background-image: url(./photos/photo.avif);
    background-position: center;
    display: flex;
    flex-direction: column;
}

.odin {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: relative;
    top: 10rem;
    font-family: "Jersey 10", sans-serif;
    font-size: 8vw;
    height: 15%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.odin-img {
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: rgb(211, 233, 201);
    padding: 50px;
}

h1 {
    margin: 0;
}

.second-heading {
    margin-bottom: 20px;
}

.form {
    padding: 50px;
}

input, label {
    display: block;
}

input {
    height: 25px;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:invalid {
    border-color: red;
}

input:focus {
    outline: none;
    border-color: blue;
}

.form-heading {
    margin-bottom: 20px;
}

.form-row {
    margin-bottom: 20px;
    display: flex;
    width: 100%;
}

.input {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-right: 20px;
}

.footer {
    background-color: rgb(211, 233, 201);
    flex-grow: 1;
    padding: 50px;
}

.create-account {
    height: 40%;
    width: 30%;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #596D48;
    color: white;
    margin-bottom: 30px;
    font-size: 1.5rem;
}

.footer-txt {
    display: flex;
    font-size: 25px;
}

.login {
    color: green;
    margin-left: 10px;
}